.experience{
    padding: 80px 0;
    display: flex;
    background-color: #151515;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    justify-content: center;
    align-items: center;
}

.experience h2{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
  }

  .experience .job{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 20%;
  }
  .experience .job p{
    padding-left: 25px;
  }

.experience span{
    color: rgba(141, 70, 233, 0.712);
}

.experience h3::before{
    content: "+ ";
    color:rgba(141, 70, 233, 0.712);
    font-weight: 700;
}

.experience .jobInfo
{
    margin-left: 5%;
    margin-right: 20%;
}

.experience .jobInfo p::before{
    content: "-";
    margin-right: 5px;
    color:rgba(141, 70, 233, 0.712);
    font-weight: 700;
}
